*{
    margin:0;
    padding:0;
}
#main{
    margin:0 auto;
    width:900px;
}
.a1{
    height:100px;
    width:900px;
    background-color:red;
    float:left;
}
.a21{
    height:200px;
    width:450px;
    background-color:mediumspringgreen;
    float:left;
}
.a22 {
    height: 200px;
    width: 450px;
    background-color: greenyellow;
    float:left;
}
.a31{
    height:300px;
    width:300px;
    background-color:blue;
    float:left;
}
.a32 {
    height: 300px;
    width: 300px;
    background-color: pink;
    float:left;
}
.a33 {
    height: 300px;
    width: 300px;
    background-color: deepskyblue;
    float:left;
}
.a4{
    height:200px;
    width:600px;
    background-color:yellow;
    float:left;
}
.a5{
    height:200px;
    width:300px;
    background-color:orange;
    float:left;
}
.a6{
    height:300px;
    width:200px;
    background-color:purple;
    float:left;
}
.a7{
    height:300px;
    width:700px;
    background-color:plum;
    float:left;
}
